synergyapps-parent/synergyapps-webservices/src/main/resources/xacttime_synergy_v2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://xacttime.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://xacttime.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://xacttime.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="RecordPunch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="webServicesKey" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="terminalId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="punch" type="tns:PunchData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PunchData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionTime" type="tns:DateTimeOffset" />
          <s:element minOccurs="1" maxOccurs="1" name="PunchType" type="tns:TimeSlicePreType" />
          <s:element minOccurs="0" maxOccurs="1" name="LaborLevelDetailIds" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DateTimeOffset" />
      <s:simpleType name="TimeSlicePreType">
        <s:restriction base="s:string">
          <s:enumeration value="NonWork" />
          <s:enumeration value="Transfer" />
          <s:enumeration value="StartLunch" />
          <s:enumeration value="StartBreak" />
          <s:enumeration value="ClockIn" />
          <s:enumeration value="ClockOut" />
          <s:enumeration value="EndLunch" />
          <s:enumeration value="EndBreak" />
          <s:enumeration value="PayAdjustment" />
          <s:enumeration value="SwipeAndGo" />
          <s:enumeration value="CallBack" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RecordPunchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecordPunchResult" type="tns:PunchStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PunchStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionTime" type="tns:DateTimeOffset" />
        </s:sequence>
      </s:complexType>
      <s:element name="RecordPunches">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="webServicesKey" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="terminalId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="punches" type="tns:ArrayOfPunchData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPunchData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PunchData" nillable="true" type="tns:PunchData" />
        </s:sequence>
      </s:complexType>
      <s:element name="RecordPunchesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecordPunchesResult" type="tns:ArrayOfPunchStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPunchStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PunchStatus" nillable="true" type="tns:PunchStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmployees">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="webServicesKey" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="terminalId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesResult" type="tns:ArrayOfEmployee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmployee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BadgeNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LaborLevelMap" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLaborLevels">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="webServicesKey" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLaborLevelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLaborLevelsResult" type="tns:ArrayOfLaborLevel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLaborLevel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LaborLevel" nillable="true" type="tns:LaborLevel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LaborLevel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Details" type="tns:ArrayOfLaborLevelDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLaborLevelDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LaborLevelDetail" nillable="true" type="tns:LaborLevelDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LaborLevelDetail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOptions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="webServicesKey" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="terminalId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOptionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOptionsResult" type="tns:Options" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Options">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdentifyUsersWith" type="tns:IdTypes" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeZone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="IdTypes">
        <s:restriction base="s:string">
          <s:enumeration value="BadgeNumber" />
          <s:enumeration value="EmployeeNumber" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetFingerprints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="webServicesKey" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="terminalId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFingerprintsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFingerprintsResult" type="tns:ArrayOfFingerprint" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFingerprint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Fingerprint" nillable="true" type="tns:Fingerprint" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Fingerprint">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Template" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetFingerprint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="webServicesKey" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="fingerprint" type="tns:Fingerprint" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFingerprintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetFingerprintResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecordPunchSoapIn">
    <wsdl:part name="parameters" element="tns:RecordPunch" />
  </wsdl:message>
  <wsdl:message name="RecordPunchSoapOut">
    <wsdl:part name="parameters" element="tns:RecordPunchResponse" />
  </wsdl:message>
  <wsdl:message name="RecordPunchesSoapIn">
    <wsdl:part name="parameters" element="tns:RecordPunches" />
  </wsdl:message>
  <wsdl:message name="RecordPunchesSoapOut">
    <wsdl:part name="parameters" element="tns:RecordPunchesResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="GetLaborLevelsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLaborLevels" />
  </wsdl:message>
  <wsdl:message name="GetLaborLevelsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLaborLevelsResponse" />
  </wsdl:message>
  <wsdl:message name="GetOptionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetOptions" />
  </wsdl:message>
  <wsdl:message name="GetOptionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFingerprintsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFingerprints" />
  </wsdl:message>
  <wsdl:message name="GetFingerprintsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFingerprintsResponse" />
  </wsdl:message>
  <wsdl:message name="SetFingerprintSoapIn">
    <wsdl:part name="parameters" element="tns:SetFingerprint" />
  </wsdl:message>
  <wsdl:message name="SetFingerprintSoapOut">
    <wsdl:part name="parameters" element="tns:SetFingerprintResponse" />
  </wsdl:message>
  <wsdl:portType name="SynergySoap">
    <wsdl:operation name="RecordPunch">
      <wsdl:input message="tns:RecordPunchSoapIn" />
      <wsdl:output message="tns:RecordPunchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecordPunches">
      <wsdl:input message="tns:RecordPunchesSoapIn" />
      <wsdl:output message="tns:RecordPunchesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input message="tns:GetEmployeesSoapIn" />
      <wsdl:output message="tns:GetEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLaborLevels">
      <wsdl:input message="tns:GetLaborLevelsSoapIn" />
      <wsdl:output message="tns:GetLaborLevelsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOptions">
      <wsdl:input message="tns:GetOptionsSoapIn" />
      <wsdl:output message="tns:GetOptionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFingerprints">
      <wsdl:input message="tns:GetFingerprintsSoapIn" />
      <wsdl:output message="tns:GetFingerprintsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetFingerprint">
      <wsdl:input message="tns:SetFingerprintSoapIn" />
      <wsdl:output message="tns:SetFingerprintSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SynergySoap" type="tns:SynergySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecordPunch">
      <soap:operation soapAction="http://xacttime.com/RecordPunch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordPunches">
      <soap:operation soapAction="http://xacttime.com/RecordPunches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://xacttime.com/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLaborLevels">
      <soap:operation soapAction="http://xacttime.com/GetLaborLevels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOptions">
      <soap:operation soapAction="http://xacttime.com/GetOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFingerprints">
      <soap:operation soapAction="http://xacttime.com/GetFingerprints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFingerprint">
      <soap:operation soapAction="http://xacttime.com/SetFingerprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SynergySoap12" type="tns:SynergySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecordPunch">
      <soap12:operation soapAction="http://xacttime.com/RecordPunch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordPunches">
      <soap12:operation soapAction="http://xacttime.com/RecordPunches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap12:operation soapAction="http://xacttime.com/GetEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLaborLevels">
      <soap12:operation soapAction="http://xacttime.com/GetLaborLevels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOptions">
      <soap12:operation soapAction="http://xacttime.com/GetOptions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFingerprints">
      <soap12:operation soapAction="http://xacttime.com/GetFingerprints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFingerprint">
      <soap12:operation soapAction="http://xacttime.com/SetFingerprint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Synergy">
    <wsdl:port name="SynergySoap" binding="tns:SynergySoap">
      <soap:address location="https://xacttime.taserver.com/site/webservices/v2/synergy.asmx" />
    </wsdl:port>
    <wsdl:port name="SynergySoap12" binding="tns:SynergySoap12">
      <soap12:address location="https://xacttime.taserver.com/site/webservices/v2/synergy.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>